.order-section {
    background: url(../../img/hero/order/orderbg.png) center top / cover no-repeat;
    color: #fff;
    height: rem(890px);

    @include tablets {
        height: 966px;
    }
    
}